$light : #f3e9f1;
$darker : #fff5fd;
$rale : 'Raleway', sans-serif;
main
{
    text-align: center;
    position: relative;
    top: 10%;
    font-family: 'Rubik', sans-serif;
    background-color: #f3e9f1 ;
    width: 60%;
    margin: auto;
    padding: 5em;
    font-family: $rale;

}
h3 
{
    margin-bottom: 2em;
}
#comeBack
{
    
    background-color: $darker;
    font-size: 20px;
    padding: 0.5em;
    border:solid 2px black;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 110px 15px 120px 15px/15px 120px 15px 110px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
#total
{
    margin-top: 0.5em;
}
