
main
{
    text-align: center;
    position: relative;
    top: 10%;
    font-family: 'Rubik', sans-serif;
    background-color: #f3e9f1 ;
    width: 60%;
    margin: auto;
    padding: 5em;
}
h3 
{
    margin-bottom: 2em;
}
#comeBack
{
    
    border: 3px solid white;
    background: linear-gradient(to bottom right, #8f5bfe 4%, #ba7284 100%);
    color: white;
    padding: 1em;
    text-decoration: none;
    color: white;
}
