$light : #f3e9f1;
$darker : #fff5fd;
body 
{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #d4803d 4%, #8f5bfe 100%);

}


header 
{
    background-color: $light;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Syne Mono', monospace;

    #logo 
    {
        width: 100px;
        height: auto;

    }

    a
    {
        text-decoration: none;
    }

    h1 
    {
        color: black;
        margin-bottom: 0;
        font-size: 20px;
    }


}

@media screen and (max-width: 700px)
{

    header
    {
        img 
        {
           width: 150px;
        }
        h1
        {
            font-size: 15px;
        }
    }


}