$light : #f3e9f1;
$darker : #fff5fd;

$mainFont :  'Rubik', sans-serif;
$font : 'Syne Mono', monospace;
$rale : 'Raleway', sans-serif;

body 
{
    margin: 0;
    padding: 0;

}

header 
{
    background-color: $light;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0;
    font-family: $rale;


    #logo 
    {
        width: 150px;
        height: auto;
        vertical-align: middle;

    }

    a
    {
        text-decoration: none;
    }

    h1 
    {
        color: black;
        margin-bottom: 0;
        font-size: 20px;
        margin: 0;
    }
    #cartIcon 
    {
        display: flex;
        span 
        {
            margin-left: 2px;
            color: black;
            font-weight: 900;
        }

    }


}

.errorContainer
{
    width: 50%;
    margin: auto;
    margin-top: 5em;
    background-color: $darker;
    border-radius: 2em;
    text-align: center;
    padding-bottom: 2em;
    padding: 1em;
    
    font-family: $rale ;
    
}





@media screen and (max-width: 700px)
{

    header
    {
        h1 
        {
            margin-top: 0.9em;
        }
        img 
        {
           width: 100px!important;
           height: auto;
        }
        h1
        {
            font-size: 15px;
        }
    }


}


/** Font-Family */

figcaption{
    font-family: $rale;
}
.titleCouleur
{
    font-family: $rale;
}
.price
{
    font-family: $rale;
}
#teddyH1{
    font-family: $rale;
}
#teddyPara
{
    font-family: $rale;
}
