$light : #f3e9f1;
$darker : #fff5fd;
body 
{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, rgba(212, 128, 61, 0.8) 50%, rgba(143, 91, 254, 0.8) 100%);
    background-color: rgba($color: #000000, $alpha: 0.5);
}


header 
{
    background-color: $light;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Syne Mono', monospace;

    #logo 
    {
        width: 100px;
        height: auto;

    }

    a
    {
        text-decoration: none;
    }

    h1 
    {
        color: black;
        margin-bottom: 0;
        font-size: 20px;
    }


}

.errorContainer
{
    width: 50%;
    margin: auto;
    margin-top: 5em;
    background-color: $darker;
    border-radius: 2em;
    text-align: center;
    padding-bottom: 2em;
    padding: 1em;
    *
    {
        font-family: 'Rubik', sans-serif;
    }
}





@media screen and (max-width: 700px)
{

    header
    {
        img 
        {
           width: 150px;
        }
        h1
        {
            font-size: 15px;
        }
    }


}