$light : #f3e9f1;
$darker : #fff5fd;

$mainFont :  'Rubik', sans-serif;
$font : 'Syne Mono', monospace;
$rale : 'Raleway', sans-serif;

body 
{
    margin: 0;
    padding: 0;

}

header 
{
    background-color: $light;
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 0;
    font-family: $rale;


    #logo 
    {
        width: 200px;
        height: auto;
        vertical-align: middle;

    }

    a
    {
        text-decoration: none;
    }

    h1 
    {
        color: black;
        margin-bottom: 0;
        font-size: 23x;
        margin: 0;
        font-size: 25px;
        margin-top: 1em;
        font-weight: 500;
    }
    #cartIcon 
    {
        display: flex;
        span 
        {
            margin-left: 2px;
            color: black;
            font-weight: 900;
            margin-top: 1em;
            font-family: $font;
        }

    }


}

.errorContainer
{
    width: 50%;
    margin: auto;
    margin-top: 3em;
    text-align: center;
    font-family: $rale ;
    h1 {
        margin-bottom: 2em;
    }
    a{
        border: solid 1.5px #41403E;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        background-color: #f3e9f1;
        font-weight: 600;
        padding: 1em;
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
}





@media screen and (max-width: 700px)
{

    header
    {
        h1 
        {
            margin-top: 0.9em;
        }
        img 
        {
           width: 130px!important;
           height: auto;
        }
        h1
        {
            font-size: 17px;
        }
    }


}


/** Font-Family */

figcaption{
    font-family: $rale;
}
.titleCouleur
{
    font-family: $rale;
}
.price
{
    font-family: $rale;
}
#teddyH1{
    font-family: $rale;
}
#teddyPara
{
    font-family: $rale;
}
