$light : #f3e9f1;
$darker : #fff5fd;
$rale : 'Raleway', sans-serif;
#emptyCart
{
    display: none;
    width: 500px;
    margin: auto;
    margin-top: 5em;
    text-align: center;
    font-family: $rale;
    
    h1 
    {
        margin-bottom: 2em;
    }

    a 
    {
        border:solid 1.5px #41403E;
        box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        background-color: $light;
        font-weight: 600;
        padding: 1em;
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
}
img
{
    width: 200px;
    height: 140px;
}        
#titleCart
{
    text-align: center;
}

main 
{

    
    font-family: $rale;
    
    #articleContainer 
    {
        width: 80%;
        margin: auto;
        
        #cartContent
        {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        article 
        {
            text-align: center;
            width: 300px;

            img 
            {
                margin-bottom: 1em;
            }
            button 
            {
                border:solid 2.5px $light;
                box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
                border-radius: 110px 15px 120px 15px/15px 120px 15px 110px;
                background: linear-gradient(to bottom right, #8f5bfe 4%, #ba7284 100%);
                color: white;
                padding: 1em;
            }         
            
        }
    }

    #titlePrice 
    {
        text-align: center;
        h1 
        {
            font-size: 20px;
        }
    }

    #formContainer 
    {
        width: 60%;
        margin: auto;
        display: flex;
        text-align: center;
        margin-bottom: 2em;
        
        form 
        {
            margin-top: 2em;
            width: 400px;
            margin: auto;
            display: flex;
            flex-direction: column;
            label   
            {
                margin: 10px 0 10px 0;
            }
            
            input 
            {
                width: 80%;
                margin: auto;
                border: 1px solid #8f5bfe;
                padding: 0.8em;
                border-radius: 5px;
            }
            #sub
            {
                border: 3px solid #8f5bfe;
                background: linear-gradient(to bottom right, #8f5bfe 4%, #ba7284 100%);
                color: white;
                border-radius: 5px;
                padding: 1em;
                margin-top: 1em;
                
            }
            input::placeholder
            {
                display: none;
            }
        }
        
    }

}

@media screen and (max-width : 500px) {
    #emptyCart
    {
        width: 200px;
    }
}