$light : #f3e9f1;
$darker : #fff5fd;

#model
{
    display: none;
}


main
{

    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1em;


    section
    {
        width: 30%;
        border-radius: 5px;
        margin-top: 1.5em;
        flex-wrap: wrap;
        background-color: $darker;
        border: 5px $light solid;

        a
        {
            font-family: 'Rubik', sans-serif;
            font-weight: 300;
            display: flex;
            width: 90%;
            flex-direction: row;
            text-decoration: none;
            color: black;
            margin: auto;


            
            .cartSide
            {
                width: 60%;
                text-align: center;

                p 
                {
                    text-align: center;
                }
                ul 
                {

                    display: flex;
                    list-style-type: none;
                    padding: 0;
                    margin: 0.3em;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    .squares
                    {
                        width: 13px;
                        height: 13px;
                        border-radius: 2px;
                        margin: auto;
                        margin-bottom: 0.2em;
                        border: 1.5px solid black;
                    }

                    li
                    {
                        margin-right: 0.5em;
                        margin-bottom: 0.5em;
                        font-size: 13px;
                    }
                }

                .price
                {
                    font-weight: 500;
                    font-size: 13px;
                    text-align: center;
                    width: 100%;
                }
            }

            .imgColor
            {
                figcaption
                {
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 1em;
                }
                img
                {
                    width: 150px;
                    border-radius: 5px;
                    border: 5px $light solid;
                }
            }

        }
    }
}

@media screen and (max-width : 1550px)
{

    section 
    {
        width: 45%!important;
    }

}

@media screen and (max-width : 1100px)
{
    section 
    {

        text-align: center;
        a
        {
            display: flex;
            flex-wrap: wrap;

            .imgColor
            {
                width: 100%;
            }
            .cartSide
            {
                width: 100%!important;
            }


        }
    }
}
@media screen and (max-width: 700px)
{

    section
    {
        width: 90%!important;
    }

}