$light : #f3e9f1;
$darker : #fff5fd;
$rale : 'Raleway', sans-serif;

#model
{
    display: none;
}
.mainTitle
{
    font-family: $rale;
    font-weight: 300;
    text-align: center;
    border:solid 1.5px #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    width: 300px;
    margin: auto;
    background-color: $darker;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.2em ;
    font-weight: 500;
}


main
{
    
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


    .card
    {
        width: 220px;
        border-radius: 5px;
        margin-top: 1.5em;
        background: linear-gradient(to bottom right, $light 50%,$darker 100%);
        background-color: rgba($color: #000000, $alpha: 0.5);
        font-weight: 300;
        color: black;
        margin: auto;
        text-decoration: none;
        text-align: center;
        padding: 1em;
        margin: 0.5em;

        &:hover 
        {
            transform: scale(1.1);
            transition: ease-in-out;
            transition-duration: 0.5s;
            
        }
        

        figure 
        {
            margin: 0;
        }
        figcaption
        {
            font-weight: 700;
            text-align: center;
            margin-bottom: 1em;
            font-size: 24px;
        }
        img
        {
            width: 150px;
            border-radius: 5px;
            height: 97px;
        }

        ul 
        {
            width: 50%;
            margin: auto;
            display: flex;
            list-style-type: none;
            padding: 0;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 0.2em;

            .squares
            {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                margin: auto;
                margin-bottom: 0.2em;
                border:solid 1.5px black;
                box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
                border-radius:  15px 110px  15px 120px/ 120px 15px  110px 15px;
            }

        }

            .price
            {
                font-weight: 500;
                font-size: 21px;
                text-align: center;
                width: 100%;
         
            }
        }

        }
    

@media screen and (max-width : 1550px)
{

    section 
    {
        width: 45%!important;
    }

}

@media screen and (max-width : 1100px)
{
    section 
    {

        text-align: center;
        a
        {
            display: flex;
            flex-wrap: wrap;

            .imgColor
            {
                width: 100%;
            }
            .cartSide
            {
                width: 100%!important;
            }


        }
    }
}
@media screen and (max-width: 700px)
{
    .mainTitle
    {
        width: 70%;
        font-size: 25px;
    }

    section
    {
        width: 90%!important;
    }

}

