
$light : #f3e9f1;
$darker : #fff5fd;
$rale : 'Raleway', sans-serif;

main 
{
    
    width: 60%;
    margin: auto;
    background-color: $darker;
    border:solid 1px $light;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 110px 15px 120px 15px/15px 120px 15px 110px;
    margin-top: 2em;
    margin-bottom: 1em;
    *
    {
        font-family: $rale;
    }
}


#teddy 
{
    display: flex;
    padding: 2em;
}
#teddyH1
{
    text-align: center;
    margin-bottom: 0;
}

#imgPara
{
    width: 700px;
    margin: auto;
    text-align: center;

    #radioSection
    {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        text-align: center;
        padding: 0;
        width: 70%;
        margin: auto;
        margin-top: 1em;
        
        li 
        {
            text-align: center;
            justify-content: center;
            margin: 0.5em;
        }
        .squares 
        {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1.5px solid black;
            margin: auto;
            margin-bottom: 0.9em;
        }
    }
    img 
    {
        width: 300px;
        border-radius: 5px;
    }


}
#colorCart
{

    width: 600px;
    margin: auto;
    margin-top: 0;

    #teddyPara
    {
        font-size: 22px;
        width: 60%;
        
        margin: auto;
    }

    #price
    {
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #selectContainer
    {
        display: flex;
        justify-content: space-around;
        
        select,  #add-cart
        {
            background-color: white;
            font-size: 15px;
            padding: 0.5em;
            border:solid 2.5px black;
            box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
            border-radius: 110px 15px 120px 15px/15px 120px 15px 110px;
            font-weight: 500;
            option 
            {
                background-color: white;
            }
        }

    }

}   

@media screen and (max-width : 1100px)
{
    main
    {
        width: 90%;
    }
    #teddy
    {
        display: flex;
        flex-wrap: wrap;
        #imgPara
        {
            img
            {
                width: 200px;
            }
            ul 
            {
                width: 90%;
            }
        }
        #teddyPara
        {
            text-align: center;
            width: 80%;
        }
        
    }
}